
:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  body { background-color: #f7f7f7; font-family: 'Lato', sans-serif;
    font-size: 18px;}
.container { max-width: 600px; margin: 0 auto; padding: 20px; }
.summary {     background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0; }
    .summary div{
        padding: 10px;
        font-size: 15px;
  letter-spacing: 1px;
  /* margin: 5px 0; */
    }

    .summary div:nth-child(1){
        color: #2ecc71;
    }
    .summary div:nth-child(2){
        color: #c0392b;
    }

    .summary div:nth-child(1), .summary div:nth-child(2){
        border-right: 1px solid #dedede;
    }
.expense-list { list-style-type: none; padding: 0; list-style-type: none;
    padding: 0;
    margin-bottom: 40px;}
.expense-item { background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0; }
.expense-item.completed { text-decoration: line-through; }
.expense-item input[type="checkbox"] { margin-right: 10px; }
form { margin-bottom: 20px; }
.form-group { margin-bottom: 10px; }
button { cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px; }

.form-fields{
    display: flex;
    justify-content: space-between;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
